#details-panel {
    height: 15rem;
}

.details__header {
    width: 100%;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;

    font-size: 2rem;
    font-weight: 700;
    display: flex;
    justify-content: center;

    color: #eee;
}

.details-content {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: calc(100% - 3.65rem)
}

.details__header-low {
    background-color: var(--color-priority-low);
}

.details__header-medium {
    background-color: var(--color-priority-medium);
}

.details__header-high {
    background-color: var(--color-priority-high);
}

.details__task-description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 100%;
    font-size: 1.15rem;
    overflow-wrap: anywhere;
    text-align: center;
}

.details__task-priority {
    display: flex;
    justify-content: center;
}

.details__task-priority-title {
    font-weight: bold;
    margin-right: .3rem;
}